@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <h1>Football Manager!</h1>
    <p class="lead">Welcome to the Football Manager!</p>
</div>

<div class="row">
    <div class="col-md-4" style="text-align:center;">
        <h2>View players</h2>
        <p>Players</p>
        <p><a class="btn btn-success" href="/Player/Index">Go to Players</a></p>
    </div>
    <div class="col-md-4" style="text-align:center;">
        <h2>View coaches</h2>
        <p>Coaches</p>
        <p><a class="btn btn-success" href="/Coach/Index">Go to coaches</a></p>
    </div>
    <div class="col-md-4" style="text-align:center;">
        <h2>View tournaments</h2>
        <p>All tournaments</p>
        <p><a class="btn btn-success" href="/Tournament/Index">Go to tournaments</a></p>
    </div>
</div>